@media screen and (max-width: 1100px) {
  .edit-conatiner {
    width: 70%;
  }
}

@media screen and (max-width: 930px) {
  .main-container {
    width: 72%;
  }
}

@media screen and (max-width: 840px) {
  .task-container {
    width: 73%;
  }

  .edit-conatiner {
    width: 72%;
  }
}

@media screen and (max-width: 650px) {
  .main-container {
    width: 74%;
  }

  .task-container {
    width: 75%;
  }

  .edit-conatiner {
    display: flex;
    flex-direction: column;
    height: 150px;
  }
  
  .inputEditing {
    width: 95%;
    height: 32px;
  }
}

@media screen and (max-width: 600px) {
  .left-block {
    width: 70%;
  }
}

@media screen and (max-width: 580px) {
  .edit-conatiner {
    margin-right: 15px;
  }
}

@media screen and (max-width: 550px) {
  .add-task {
    display: flex;
    flex-direction: column;
    height: 80px;
  }

  .input-task {
    width: 100%
  }

  .btn-task {
    margin-right: auto;
    margin-top: 15px;
  }

  .task-container {
    width: 80%;
  }
  
  .main-container {
    width: 82%;
  }

  .edit-conatiner {
    margin-right: 45px;
  }
}


@media screen and (max-width: 414px) {
  .add-task {
    height: 81px;
  }

  .edit-conatiner {
    margin-right: 41px;
  }
}

@media screen and (max-width: 411px) {
  .add-task {
    height: 81px;
  }
}

@media screen and (max-width: 380px) {
  .main-container {
    width: 82%;
  }

  .add-task {
    width: 82%;
  }

  .edit-conatiner {
    width: 70%;
    height: 165px;
  }
}

@media screen and (max-width: 350px) {
  .main-container {
    width: 85%;
  }
}