.container {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.throught {
  text-decoration: line-through;
  color:darkgrey;
}

.add-task {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-task {
  width: 63%;
  height: 30px;
}

.btn-task {
  height: 37px;
  width: 100px;
  color: white;
  border: 1px solid rgb(23, 23, 214);
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(23, 23, 214);
}

.task-container {
  display: flex;
  justify-content: space-between;
  width: 69%;
  margin-top: 30px;
}

.main-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.edit-conatiner {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 10px;
}

.inputEditing {
  width: 45%;
}

.basket, .pancel {
  width: 16px;
  height: 16px;
}

.pancel {
  margin-right: 10px;
}

.wrapper {
  width:100%;
}

.hide {
  display: none;
}

.left-block {
  width: 350px;
  word-wrap: break-word;
  margin-right: auto;
}

.cancelButton {
  width: 80px;
  height: 32px;
  background-color: red;
  border-color: red;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.btnSave {
  width: 80px;
  height: 32px;
  background-color: rgb(23, 23, 214);
  border-color: rgb(23, 23, 214);
  border-radius: 5px;
  cursor: pointer;
  color: white;
}